<h2 class="snippet-title">Slider with ticks and tooltips</h2>
<div class="snippet-card card">
  <div class="card-body">
    <div class="snippet-content">
      <ng5-slider [(value)]="value" [options]="options"></ng5-slider>

    </div>

    <!-- <ngb-tabset class="snippet-code-tabset">
      <ngb-tab title="ticks-tooltips-slider.component.ts"> -->
      <ng-template ngbTabContent>
        <pre class="language-typescript"><code class="language-typescript"><span class="token keyword">import</span> <span class="token punctuation">{{ '{' }}</span> Component <span class="token punctuation">{{ '}' }}</span> <span class="token keyword">from</span> <span class="token string">'&#64;angular/core'</span><span class="token punctuation">;</span>
<span class="token keyword">import</span> <span class="token punctuation">{{ '{' }}</span> Options <span class="token punctuation">{{ '}' }}</span> <span class="token keyword">from</span> <span class="token string">'ng5-slider'</span><span class="token punctuation">;</span>

<span class="token decorator"><span class="token at operator">&#64;</span><span class="token function">Component</span></span><span class="token punctuation">(</span><span class="token punctuation">{{ '{' }}</span>
  selector<span class="token operator">:</span> <span class="token string">'app-ticks-tooltips-slider'</span><span class="token punctuation">,</span>
  templateUrl<span class="token operator">:</span> <span class="token string">'./ticks-tooltips-slider.component.html'</span>
<span class="token punctuation">{{ '}' }}</span><span class="token punctuation">)</span>
<span class="token keyword">export</span> <span class="token keyword">class</span> <span class="token class-name">TicksTooltipsSliderComponent</span> <span class="token punctuation">{{ '{' }}</span>
  value<span class="token operator">:</span> <span class="token builtin">number</span> <span class="token operator">=</span> <span class="token number">5</span><span class="token punctuation">;</span>
  options<span class="token operator">:</span> Options <span class="token operator">=</span> <span class="token punctuation">{{ '{' }}</span>
    floor<span class="token operator">:</span> <span class="token number">0</span><span class="token punctuation">,</span>
    ceil<span class="token operator">:</span> <span class="token number">10</span><span class="token punctuation">,</span>
    showTicks<span class="token operator">:</span> <span class="token boolean">true</span><span class="token punctuation">,</span>
    ticksTooltip<span class="token operator">:</span> <span class="token punctuation">(</span>v<span class="token operator">:</span> <span class="token builtin">number</span><span class="token punctuation">)</span><span class="token operator">:</span> <span class="token builtin">string</span> <span class="token operator">=></span> <span class="token punctuation">{{ '{' }}</span>
      <span class="token keyword">return</span> <span class="token string">'Tooltip for '</span> <span class="token operator">+</span> v<span class="token punctuation">;</span>
    <span class="token punctuation">{{ '}' }}</span>
  <span class="token punctuation">{{ '}' }}</span><span class="token punctuation">;</span>
<span class="token punctuation">{{ '}' }}</span></code></pre>
      </ng-template>
    <!-- </ngb-tab>

      <ngb-tab title="ticks-tooltips-slider.component.html"> -->
      <ng-template ngbTabContent>
        <pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng5-slider</span> <span class="token attr-name">[(value)]</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>value<span class="token punctuation">"</span></span> <span class="token attr-name">[options]</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>options<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng5-slider</span><span class="token punctuation">></span></span></code></pre>
      </ng-template>
    <!-- </ngb-tab>

      
    </ngb-tabset> -->
  </div>
</div>